.newsletter {
    width: 65%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #4562ba 0%, #e1ffea22 60%);
    border-radius: 15px;
    border-top: 2px solid #daa520;
    gap: 30px;
}
.newsletter h1 {
    color: #454545;
    font-size: 40px;
    font-weight: 600;
}
.newsletter p {
    color: #454545;
    font-size: 20px;
}
.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    width: 730px;
    height: 70px;
    border: 1px solid #e3e3e3;
    border-radius: 80px;
}
.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: sans-serif;
    font-size: 16px;
}
.newsletter div button {
    width: 200px;
    height: 70px;
    border-radius: 80px;
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.newsletter div button:hover {
    transform: scale(1.0);
    transition: 0.6s;
    cursor: pointer;
    opacity: 0.8;
    color: #daa520;
    background-color: #4562ba;
    font-size: 20px;
}
.newsletter h3 {
    color: #daa520;
}