.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    height: 50px;
    width: 50px;
    margin-bottom: 0%;  
}
.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-family: 700;
}
.footer-logo p:hover {
    color: goldenrod;
    cursor: pointer;
}
.footer-company {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer-company li {
    cursor: pointer;
}
.footer-company li:hover {
    margin-top: 1px;
    text-decoration: 2px goldenrod solid underline;
}
.footer-social-icon {
    display: flex;
    gap: 20px;
}
.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 50%;
}
.footer-icons-container:hover {
    transform: scale(1.07);
    transition: 0.6s;
    cursor: pointer;
}
.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background-color: #c7c7c7;
}